@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 94.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 61% 34%;
    --primary-foreground: 60 93% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 120 61% 50%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 120 61% 34%;
    --chart-1: 120 61% 34%;
    --chart-2: 120 61% 50%;
    --chart-3: 120 40% 60%;
    --chart-4: 120 30% 70%;
    --chart-5: 120 20% 80%;
    --radius: 0.5rem;
    --sidebar-background: 120 61% 15%;
    --sidebar-foreground: 120 10% 85%;
    --sidebar-primary: 120 61% 34%;
    --sidebar-primary-foreground: 60 93% 98%;
    --sidebar-accent: 120 61% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 120 61% 20%;
    --sidebar-ring: 120 61% 50%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 61% 50%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 120 61% 34%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 120 61% 50%;
    --chart-1: 120 61% 50%;
    --chart-2: 120 61% 34%;
    --chart-3: 120 40% 60%;
    --chart-4: 120 30% 70%;
    --chart-5: 120 20% 80%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 120 61% 50%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 120 61% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
